  <section id="dinnerImg">  
    <div class="card-title">
      <h1 id="">WORLD BEST COOK BOOK 🥗</h1>
      <H3 id="">LIKE NEVER BEFORE</H3>
    </div>
<ul>
    {{#each dinnerRecipes as |recipe|}}
    <a href="/post/{{recipe.id}}">
    <li>
        <h2>
            {{recipe.name}}
        </h2>
        <p>
            {{recipe.meal}}

        </p>
        <p>
            {{recipes.user.name}}
        </p>
    </li>
    </a>
    {{/each}}
</ul>
</section>