<section id="womanImg">
  <div class="signup-page">
      <div class="form">
        <div class="signup">
          <div class="signup-header">
            <h3>SIGNUP</h3>
            <p>Please enter your credentials to signup.</p>
          </div>
        </div>
        <form class="signup-form">
          <input type="text" placeholder="username" id="user-name" required/>
          <input type="text" placeholder="email" id="user-email" required/>
          <input type="password" placeholder="password" id="user-password" required/>
          <button>SignUp</button>
          <p class="message">Already registered? <a href="/login">Login</a></p>
        </form>
      </div>
  </div>
</section>
<script src="/js/accountCreation.js"></script>